body {
    background-color: #F0E2BD;
}

main {
    position: relative;
    top: 80px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#cuadricula {

    box-sizing: content-box;
    width: fit-content;
    max-width: 954px;
    min-width: 318px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    margin: 15px;
}

.etiqueta {
    color: black;
    border: none;
    float: right;
    background-color: transparent;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
}

.card-body {
    background-color: #FADF87;
    font-family: 'Nunito', sans-serif;
}

.card-title {
    font-family: 'Gentium Basic', serif;
    font-weight: bold;
    color: #891244;
}

@media only screen and (min-width: 954px) {
    #cuadricula {
        max-width: 954px;
    }
}

@media only screen and (min-width: 636px) and (max-width: 954px) {
    #cuadricula {
        max-width: 636px;
    }
}

@media only screen and (min-width: 318px) and (max-width: 636px) {
    #cuadricula {
        max-width: 318px;
    }
}

.modal-content {
    background-color: #9b3360 !important;
}

.modal-title {
    font-family: 'Gentium Basic', serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #FADF87;
}

.modal-body {
    font-family: 'Nunito', sans-serif;
    color: #FADF87;
    text-align: left;
}

.modal-text {
    margin-left: 16px;
}

.modal-img {
    float: left;
}

.modal-etiqueta {
    color: #F3B465;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 16px;
    margin-right: 18px;
    background-color: transparent;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

.img-thumbnail {
    height: 210px;
    width: auto;
    border: none !important;
    padding: 0 !important;
}

header {
    z-index: 2;
    width: 100%;
    height: 80px;
    background-color: hsl(42, 71%, 80%);
    position: fixed;
    top: 0;
    left: 0;
}

.nav-menu {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

.nav-menu-lista-item {
    margin: 0;
    padding: 0;
    border: 0;
    
    list-style-type: none;
    
    height: 0;
    width: 110px;
    
    position: static;
    background-color: #B66F61;
    transition: all 1s;
    border-radius: 10px;
    text-align: center;
}

.nav-menu-lista {
    margin: 0;
    padding: 0;
    border: 0;

    list-style-type: none;
    
    height: 0;
    width: 120px;
    
    display: flex;
    flex-direction: column;
    z-index: 4;

    position: fixed;
    top: 80px;
    background-color: #B66F61;
    transition: all 1s;
    border-radius: 10px;
    text-align: center;
    right: 0;
}

.btn-acceso {
    margin: 0;
    padding: 0;
    border: 0;
    
    height: 0;
    width: 110px;
    
    display: block;
    text-align: center;
    
    border-radius: 5px;

    background: transparent;
    border-color: transparent;
}

.btn-acceso:hover {
    background: #AD662A;
    border-color: transparent;
    color:hsl(42, 71%, 80%);
}

.nav-menu-burger {
    color: #891244;
    background: transparent;
    border: none;
    font-size: 30px;
    line-height: 80px;
    padding: 0 20px ;
    cursor: pointer;
}

.enlace-acceso {
    font-family: 'Nunito', sans-serif;
    height: 0;
    width: 110px;
    text-decoration: none;
    font-size: 0;
    color: #F0DAA7;
    transition: step-start 1s;
}

#check {
    display: none;
}


#check:checked ~.nav-menu-lista {
    height: 91px;
    width: 120px;
    padding: 5px;
}

#check:checked ~.nav-menu-lista li {
    height: 27px;
}

#check:checked ~.nav-menu-lista li button {
    height: 27px;
}

#check:checked ~.nav-menu-lista li button a {
    transition: step-end 1s;
    height: 27px;
    font-size: 18px;
}


@media only screen and (max-width: 460px) {
    
    .nav-menu-lista {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .nav-menu-lista li {
        margin-left: auto;
        margin-right: auto;
    }

    #check:checked~.nav-menu-lista {
        height: 70vh;
        width: 100vw;
        border-radius: 0;
    }

}
